.benefits {
  padding: 60px 0px;

  &__list {
    width: 100%;
    @include respond-to(tablet) {
      display: flex;
      flex-wrap: wrap;

      @include respond-to(desktop) {
        justify-content: space-between;
        margin: -15px;
      }
    }
  }

  &__item {
    @include respond-to(tablet) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;

      @include respond-to(desktop) {
        width: calc((100% - 8 * 15px) / 4);
      }
    }
  }

  &__icon-frame {
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
}
