.burger__button {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0px 0px;
  z-index: 50;

  @include respond-to(tablet) {
    display: none;
  }
  & .icon-cross {
    display: none;
    transition: transform $main-transition;
    transform-origin: 50% 50%;
  }
  &.is-opened .icon-cross {
    display: block;
  }
  &.is-opened .icon-menu {
    display: none;
  }

  &:hover .icon-menu {
    fill: $secondary-color;
    transition: fill $main-transition;
  }

  &:hover .icon-cross {
    fill: $secondary-color;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}
.icon-cross,
.icon-menu {
  fill: $primary-text-color;
}
