.footer-contacts {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @include respond-to(tablet) {
    flex-basis: 50%;
  }

  @include respond-to(desktop) {
    align-items: flex-start;
    flex-basis: auto;
    margin-bottom: 0;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    transition: color $main-transition;
  }

  &__link:focus,
  &__link:hover {
    color: $secondary-color;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-adress {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
}
