.footer {
  background-color: #2f303a;
  padding: 60px 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include respond-to(tablet) {
      // justify-content: flex-start;
      align-items: baseline;
    }

    @include respond-to(desktop) {
      flex-wrap: nowrap;
    }
  }
}
