.footer-social {
  margin-bottom: 60px;
  @include respond-to(tablet) {
    margin: 0 auto;
  }
  @include respond-to(desktop) {
    margin-left: 70px;

    flex-basis: auto;
  }

  &__list {
    display: flex;
  }

  &__title {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    @include respond-to(desktop) {
      text-align: left;
    }
  }

  &__icon {
    fill: #fff;
  }

  &__link:hover,
  &__link:focus {
    background-color: $secondary-color;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color $main-transition;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
