.header-contacts {
  display: none;

  @include respond-to(tablet) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @include respond-to(desktop) {
    flex-direction: row;
    margin-left: auto;
    align-items: center;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14em;
    position: relative;
    // padding: 32px 0;
    transition: color $main-transition;

    @include respond-to(desktop) {
      padding: 32px 0;
    }
  }

  &__item:not(:first-child) {
    @include respond-to(tablet) {
      margin-top: 10px;
    }
    @include respond-to(desktop) {
      margin-left: 30px;
      margin-top: 0px;
    }
  }

  &__icon {
    fill: $secondary-text-color;
    margin-right: 10px;
    transition: $main-transition;
  }

  &__link:hover svg,
  & a:focus svg {
    fill: $secondary-color;
  }

  & a:hover,
  & a:focus {
    color: $secondary-color;
  }
}
