.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-image: url("../images/mobile/hero/hero_overlay-mb.jpg"),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/mobile/hero/hero_overlay-mb@2x.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/mobile/hero/hero_overlay-mb@3x.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @include respond-to(tablet) {
    background-image: url("../images/tablet/hero/hero_overlay-tb.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/tablet/hero/hero_overlay-tb@2x.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/tablet/hero/hero_overlay-tb@3x.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @include respond-to(desktop) {
    background-image: url("../images/desktop/hero/hero_overlay-ds.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/desktop/hero/hero_overlay-ds@2x.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/desktop/hero/hero_overlay-ds@3x.jpg"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  &__button {
    display: inline-block;
    background-color: $secondary-color;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 11px, 34px;
    border: none;
    margin: 0 auto;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    transition: background-color $main-transition;
  }
  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
  }
}
