.logo {
  display: inline-block;
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;

  &__web {
    color: $secondary-color;
  }
}
.footer__logo {
  color: #fff;
  padding: 0;
  margin-bottom: 20px;
}
