.modal-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-color;
  padding-bottom: 30px;

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  &__link:hover {
    cursor: pointer;
  }

  &__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    @include respond-to(desktop) {
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
    }
  }
  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-right: 9px;
    transition: border $main-transition;
  }

  &--hidden:checked + .modal-checkbox__icon {
    background-color: $secondary-color;
    border-color: $secondary-color;
    background-image: url("../images/icon check.svg");
    background-size: contain;
    background-origin: border-box;
  }

  &--hidden:focus ~ .modal-checkbox__icon {
    border: 2px solid $secondary-color;
  }

  &:hover .modal-checkbox__icon {
    border: 2px solid $secondary-color;
  }

  &--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}
