.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: none;

  @include respond-to(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include respond-to(desktop) {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: inline-block;
    position: relative;
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14em;
    padding: 32px 0;
    transition: color $main-transition;
  }

  &__link:hover,
  &__link:focus,
  &__link--active {
    color: $secondary-color;
  }

  &__link--active::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: $secondary-color;
    border-radius: 2px;
    transform: scale(1);
  }

  &__link:not(.nav-menu__link--active)::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: $secondary-color;
    border-radius: 2px;
    transform: scale(0);
    transform-origin: left 10%;

    transition: transform $main-transition;
  }

  &__link:hover:after {
    transform: scale(1);
  }
}
