.team {
  background-color: #f5f4fa;
  padding: 60px 0;

  @include respond-to(desktop) {
    padding: 94px 0;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 30px;

    @include respond-to(desktop) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin: 0 -15px;

    @include respond-to(tablet) {
      justify-content: space-between;
    }

    @include respond-to(desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;

    @media screen and (min-width: 320px), (max-width: 1199px) {
    }

    @include respond-to(tablet) {
      flex-basis: calc((100% - 2 * 15px) / 2);
      margin-bottom: 30px;

      @include respond-to(desktop) {
        flex-basis: calc((100% - 6 * 15px) / 4);
        margin: 0px;
      }
    }
  }

  &__item:last-child {
    margin-bottom: 0px;
  }

  &__item:nth-last-child(-n + 2) {
    @include respond-to(tablet) {
      margin-bottom: 0px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__position {
    font-size: 16px;
    line-height: 1.2;
    margin: 0px;
    letter-spacing: 0.03em;
  }

  &__meta {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;

    @include respond-to(desktop) {
      padding: 30px 32px;
    }
  }
}
.social {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    @include respond-to(desktop) {
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition: background-color $main-transition;
  }

  &__icon {
    fill: currentColor;
    transition: fill $main-transition;
  }

  &__link:hover,
  &__link:focus {
    background-color: $secondary-color;
  }

  &__link:hover .social__icon,
  &__link:focus .social__icon {
    fill: #fff;
  }
}
