h1,
h2,
h3,
h4 {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
}

body.modal-open {
  overflow: hidden;
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

p {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
}

section {
  padding: 94px 0;
}

.header {
  border-bottom: solid 1px #ececec;
  width: 100%;
  // outline: 1px solid blue;
}
